{% extends "base.html" %}

{% block content %}


    <div class="row">
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Tanár kurzus</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Tananyag szerkesztés</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Blog írás</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Webshop szerkesztés</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Pénzügy kezelés</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Badgek kiosztása</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Teljesítmény lista</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Projektek</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Metoring</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Frenchise info</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">Start-ups</a>
      </div>
      <div class="col-sm">
        <a class="btn btn-info" href="#" role="button">3D printing</a>
      </div>
    </div>


{% endblock %}